# Dependencies
node_modules/
dist/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
.env
licensing-server/

# Astro
.astro/
dist/

# Project specific
file_tree.txt
error_cmd.txt
server.js
contact.html
about.html
index.html
gemcrest.html
views/
src/_data/
